body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #f4f4f4;
}

header {
  background: #1e3a8a;
  color: white;
  padding: 20px;
  text-align: center;
}

nav {
  margin-top: 10px;
}

nav a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
  font-weight: bold;
}

.hero {
  padding: 30px;
  text-align: center;
  background: white;
}

.search {
  text-align: center;
  margin: 20px;
}

.search input {
  width: 60%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.categories, .products, .cart {
  padding: 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 15px;
}

.card, .product {
  background: white;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

button {
  background: #1e3a8a;
  color: white;
  border: none;
  padding: 10px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background: #0f172a;
}

footer {
  text-align: center;
  padding: 20px;
  background: #1e3a8a;
  color: white;
  margin-top: 20px;
}




nav a.active {
  background: #1e3a8a;
  padding: 5px;
  border-radius: 5px;
}